/* 960px */
@media only screen and (min-width: 60em) {
    ul#menu {
        display: flex;
        margin: 0;
    }
    ul#menu li {
        background-color: #EED0D2;
    }
    .header-bar {
        display: flex;
    }
    .header-bar nav{
        justify-content: left;
        /* align-items: center; */
        flex-wrap: wrap;
      } 
    .hamburger #hamburgerBtn {
        display: none;
    }
    .header-bar nav ul {
        display: flex;
        /* gap: 100px; */
        font-size: 1.5rem;
        /* height: 124.4px; */
    } 
    .header-bar nav ul li {
        height: 124.4px;
        padding: 40px 40px 0px 40px;


    } 
    .header-bar nav ul#menu li:hover {
        background-color:  #84BCDA;  
    } 
    .muestrario {
        grid-template-columns: 1fr 40vw 40vw 1fr;
    }
    .muestrario section {
        height: 350px;
      }
    
}