@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Didact+Gothic&family=Josefin+Sans:wght@100&family=Nanum+Myeongjo&family=Petit+Formal+Script&display=swap');

* {box-sizing:border-box}
/* -------------------------------header--------------------------- */
h1,h2,h3,h4,ul {
    font-family: "Petit Formal Script","Dancing Script";
}
p, button {
    font-family: "Nanum Myeongjo", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    background-color: #EED0D2
			
    ;	
}
.header-bar {
  display: block;
  position: relative;
}
.header-bar nav ul {
  display:none;
}
.header-bar nav ul.open {
  display: block;
  width: 100%;
}
.header-bar nav ul.open li{
  display: block;
  background-color: #84BCDA;
  margin-left: -40px;
  padding: 40px;
  text-align: center;
}
.header-bar nav ul.open li:hover{
  color: white;
  font-weight: bold;
}
nav {
  display: flex;
  width: 100%;
  align-self: center;
  justify-content: right;

	;
}
.hamburger {
  align-self: center;
  margin-right: 10px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 50px;
}
.hamburger #hamburgerBtn {
  margin: .2rem 2vw;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: white;
  grid-column: 1;
  cursor:pointer;
}
#menu {
  list-style: none;
}
.logo-img {
  margin: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/* ------------------hero ---------------------------- */
/* Slideshow container */
.mySlides {
  width: 100%;
  height: 500px;

}
.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* ------------social---------- */
.social {
	/* margin-right: 1.5rem; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 2.5vw;
}
.social svg {
	width: 20px;
	height: auto;
    border-radius: 50%;
}
/* -----------------------main----------------------- */
main {
  display: block;
}
.delivery {
  border: 1px solid grey;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.muestrario {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  background-color: #EED0D2;
  align-items: center;
  gap: 25px;
}
.muestrario section {
  justify-content: center;
  flex: 250px;
  height: 250px;
  background-color: #FEC3D9	;
  padding: 20px;
  border: 2px solid #5A5A5A;
  box-shadow: 2px 4px 2px 4px;	
}
.muestrario section  button{
  position: absolute;
}
.muestrario section picture img{
  width: 250px;
}
.muestrario section picture img{
  object-fit: cover;
  height: 98%;
}
.tortas {
  margin-top: 40px;
}
.comidas {
  margin-bottom: 40px;
}
.delivery-box {
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 0;
}

.img-delivery {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.delivery-msg {
  position: absolute;
  top: 50px;
  right: 5px;
  text-align: center;
  margin-right: 20px;
  width: 150px;
  background-color: #04AA6D;
  border-radius: 5%;
  opacity: 80%;
  box-shadow: 2px 4px 2px 4px rgba(0,0,0,0.5);
  font-size: 1.1rem;
}
.google-maps {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin: 20px 0px;
  grid-column: 1/3;
}
.google-maps iframe {
  width: 100%;
  max-width: 400px;
}
/* ----------footer---------- */
footer {
  display: flex;
  background-color: #EED0D2;
  ;
}
.whatsapp {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
}
