@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=EB+Garamond&family=Manrope:wght@200&display=swap');
h1, h2, h3, h4 {
    font-family: 'Caprasimo', "Manrope";
}
p, a, li {
    font-family: 'EB Garamond', sans-serif;
}
header {
    display: grid;
    grid-template-columns: min-content auto;
    background-color: #6EB257;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100% ;
    z-index: 1;
}
header picture {
    width: 150px;
}
header picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header nav {
    display: block;
    text-align: center;
    margin: auto 0;
    grid-column: 1/3;
    background-color: #C5E063;
}
header nav ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
header nav ul.open {
    display: block;
}
header nav ul.open li {
    border-top: 1.5px solid rgba(0,0,0,0.5);
}
header nav ul li.active a {
    background-color: #420C14;
    color: #C5E063;
}
header nav ul li a:hover {
    background-color: #C5E063;
    color: #FE621D;
} 
header nav ul a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: 'Caprasimo';
}
header button {
    display:flex;
    justify-content: flex-end;
    margin: auto 0;
    background: transparent;
    border: none;
    font-size: 1.4rem;
    color: black;
    grid-column: 2;
    margin-right: 5px;
}
header button span:nth-child(2) {
    display: none;
}
header button.open span:nth-child(1) {
    display: none;
}
header button.open span:nth-child(2) {
    display: block;
}
header button span:nth-child(1) {
    display: block;
}
/* ----------------------------------------------------------- */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 107px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
  height: 450px;
}
.mySlides img {
    /* height: 225px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* ------------------main------------ */
.city-info {
    display: grid;
    grid-template-rows: auto 1fr;
}
.city-info h1 {
    text-align: center;
    grid-row: 1;
}
.city-info picture {
    width: 100%;
    height: 400px;
    grid-row: 2;
    grid-column: 1;
}
.city-info picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
table {
    grid-row: 2;
    grid-column: 1;
    margin: auto auto;
    border: thin solid rgba(0,0,0,0.5);
    box-shadow: 0 0 10px hsl(0,0%,50%);
    border-collapse: collapse;
    max-height: 200px;
}
caption {
    padding: 10px;
    caption-side: bottom;
    color: black;
    /* color: hsla(150,50%,30%,1); */
    font-size: .85rem;
}
thead tr:first-child {
    background-color: #FE621D ;
}
th, td {
    padding: 7px 15px;
    border: 1px solid hsla(0,0%,33%,0.3);
}
thead tr:nth-child(2) {
    background-color:  #C5E063;
    font-size: larger;
}
td {
    text-align: center;
}
tbody tr:nth-child(odd) {
    background-color: hsl(0,0%,93%,1);
}
tbody tr:nth-child(even) {
    background-color: hsl(0,50%,93%,1);
}
/* ------------------------call to action ------*/
.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #bed;
	text-align: center;
}
.menu button {
	padding: 1rem;
	font-weight: 700;
}
section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #eee;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.grid section {
	text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.grid section > * {
	margin: 0.1rem;
}
.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
    width: 150px;
    height: 150px;
}
.grid p {
    height: 80px;
}
.grid button {
    background-color: #FE621D;
    box-shadow: 1px 2px  1px 2px rgba(0,0,0,0.5);
}
.grid button a {
    text-decoration: none;
    font-size: 0.85rem;
	color: white;
	letter-spacing: 1.1pt;
    padding: 1rem;
}
.list-link {
    display: none;
}
.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 100px auto;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}
.list section img {
	display: none; /* smaller viewports only */
}

.list section h3 {
    font-size: 0.85rem;
}
.list section p {
    font-size: 0.8rem;
    border: none;
    width: 100%;
    padding-right: 20px;
}
.list section button {
    display: none;
}
.list section:nth-child(even) {
	background-color: #bed;
}
.day1, .day2, .day3 {
    font-size: 0.85rem;
}