@media only screen and (min-width: 60em) {
    header {
        grid-template-columns: 154px 250px 4fr 1fr;
    }
    .logo {
        grid-column: 1;
        padding: 5px;
        margin-left: 40px;;
    }
    .logo picture {
        max-height: 300px;
        margin: 0;
    }
    .logo picture img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    header h1 {
        grid-column: 2;
        margin-left: 40px;
    }
    .social {
        grid-column: 4;
    }
    nav#navigation {
        grid-column: 3;
        grid-row: 1;
    }
    #hamburgerBtn {
        display: none;
    }
    nav ul#primaryNav {
        display:flex;
        flex-direction: row;
        align-items: center;
    }
    nav ul#primaryNav li {
        margin: 15px;
        color: white;
        font-size: 1.2rem;
        padding: 5px;
        flex: 50px;
    }
    nav ul#primaryNav li:hover {
        background-color: white;
        color: black;
    }
    main {
        grid-template-columns: 5% 200px 1fr 200px 5%;
        grid-template-rows: 250px 320px 200px;
        gap: 10px;
    }
    .event {
        grid-column: 2;
        grid-row: 1;
        display: block;
    }
    .weather {
        grid-column: 2;
        grid-row: 2;
        height: 100%;
    }
    .hero {
        grid-column: 3;
        grid-row: 1/3;
        height: 100%;
    }
    .hero-img {
        height: 100%;
    }
    .spotlights {
        flex-direction: column;
        grid-column: 4;
        grid-row: 1/4;
        width: 200px;
        height: 100%;
    }
    .spotlights h1 {
        margin: 0px;
        margin-top: 5px;
    }
    .spotlights h3 {
        margin: 5px 0;
    }
    .spotlights h3 {
        margin: 0px 0px 5px 0px;
    }
    .spotlights section p{
        font-size: 0.7em;
    }
    .spotlights section {
        height: 280px; 
        box-shadow: 1px 2px 1px 2px rgba(0,0,0,0.5);
    }
    #section1 {
        margin-bottom: 0px;
        box-shadow: 1px 2px 1px 2px rgba(0,0,0,0.5);
    }
    #section2 {
        margin-bottom: 0px;
        margin-top: 0px;
        margin-left: auto;
        box-shadow: 1px 2px 1px 2px rgba(0,0,0,0.5);
    }
    #section3 {
        display: block;
        margin-bottom: 10px;
    }
    .spot-img {
        width: 100px;
    }
    .join {
        grid-column: 2;
        grid-row: 3;
        height: 100%;
    }
    .news-release {
        grid-column: 3;
        grid-row: 3;
        height: 100%;
    }
    .news-release h1{
        margin: 4px 0;
    }
    .news-release h1{
        margin: 4px 0px 0px 0px;
    }
    .news-release p {
        padding: 5px 5px 0 5px;
        font-size: 0.8em;
    }
}