@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Didact+Gothic&family=Josefin+Sans:wght@100&family=Nanum+Myeongjo&family=Petit+Formal+Script&display=swap');
h1,h2,h3,h4 {
    font-family: "Josefin Sans";
}
p, button {
    font-family: "Nanum Myeongjo", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    display: grid;
    grid-template-columns: 15vw 45vw 2.5fr 1fr;
    background-color: #073B3A;
    max-width: 100vw;
}
.social {
	/* margin-right: 1.5rem; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 2.5vw;
}
.social svg {
	width: 20px;
	height: auto;
    border-radius: 50%;
}
.logo {
    /* align-items: center; */
    /* height: 200px; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.logo picture {
    height: 80%;
    margin-left: 2vw;

}
.logo picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20%;
}

header p {
    grid-column: 1/5;
    text-align: center;
    margin: 10px;
    padding: 10px 10px;
    
    background-color: #E6EFE9;
}
header h1 {
    margin: 10px 5px;
    color: white;
    font-size: 1.3rem;
    padding-left: 2vw;
}
header h1 span {
    font-size: 0.85rem;
}
nav {
    display: flex; 
    grid-column: 4/5;
    justify-content: center;
    margin-right: 10px;
   
}
nav.open {
    display: flex;
    flex-direction: column;
    grid-column: 1/5;
    grid-row: 2/3;
    margin-right: 0;


}
nav ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul.open {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;  
}
.link {
    text-decoration: none;
    color: white;
}
.link:hover {
    text-decoration: none;
    color: #073B3A;;
}
nav ul.open li {
    display: block;
    width:100%;
    /* flex: 50px; */
    border: 1px solid grey;
    background-color: #E6EFE9;
    color: #073B3A;
    text-align: center;
    padding:20px 0;
}
nav ul.open li:hover {
    background-color: rgb(78, 78, 200);
    color:white;
}
header nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    color: white;
    grid-column: 1;
    /* margin-right: 10vw; */
}
header nav button.open {
    text-align: right;
    align-self: flex-end;
    
}


main {
    display:flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    margin-top: 20px;
}
main > div {
    height: 200px;
    border: 1px grey solid;
}
.footerContainer {
    display:flex;
    flex-direction: column;
    background-color: #073B3A
    ;
    text-align: center;
    color: white
}
#logoFooter picture {
    display: block;
    margin: 50px auto;
    width: 200px;
    height: 200px;
}
#logoFooter picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20%;
}
#footerTitle {
    font-weight: bold;
    margin: 15px 0;
}
.contactInformation {
    margin: 20px 0;
    line-height: 50px;
}
.finalInformation {
    display: flex;
    border-top: 1px solid #230903;
    background-color: #073B3A;
    text-align: center;
    color: white;
    justify-content: center;
    
}
.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero {
    position: relative;
    height: 416px;
}
.hero h2 {
    position: absolute;
    top: 20px;
    color:#230903;
}
.join-btn {
    position: absolute;
    right: 5px;
    bottom: 50px;
    border: 1px solid black;
}
.join-btn button {
    background-color: #D64045;
    padding: 1em 0.5em;
    color: white;
}
.event {
    background-color: #E6EFE9;
}
.event h1 {
    color: #D64045
}
.more-info {
    color: #D64045;
}
.weather {
    background-color: #E6EFE9;
    margin: 0 10%;
    height: 100%;
}
.weather h1{
    color: #D64045;
}
.weather span {
    font-size: 4rem;
}
.weather-msg {
    font-weight: bold;
    text-align: right;
    margin-right: 15px;

}
#temperature {
    font-size: 1.5rem;
}
#windspeed {
    font-size: 1.5rem;
}
#windchill {
    font-size: 1.5rem;
}
main hr{
    color: black;
    margin: 0 20px;
}
.news-release {
    background-color: #E6EFE9;
}
.news-release h1 {
    color: #D64045;
}
.news-release p {
    font-size: 0.8em;
}
.spotlights {
    background-color: #E6EFE9;
    margin-bottom: 25px;
    height: 100%;
}
.spotlights section {
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
}
.spot-img {
    width: 200px;
}
#section1 {
    margin-top:20px;
}
#section2 {
    margin-bottom:20px;
}
#section3 {
    display:none;
}
.join {
    display: none;
}

.banner p{
    display: none;
}
#banner-msg.open {
    margin-top: -2px;
    display: block;
    background-color: #230903;
    color: white;
}
/* ----------------------------------------DISCOVER------------------------------------------------------- */

.main-discover {
    display: block;
    max-width: 900px;
    margin: 0 auto;
}
.section-discover {
    display: flex;
    width: fit-content;
    box-shadow: 2px 4px 2px 4px rgba(0,0,0,0.9);
    margin: 30px 20px;
}
.section-discover article {
    background-color: #E6EFE9;
    text-align: center;
    text-align: justify;
    line-height: 1.8rem;
    padding: 10% 20px;
    width: 300px;
    
}
.section-discover picture {
    background-color: #073B3A;
    color: white;
    width: 300px;
}
.section-discover picture img {
    width: 100%;
    object-fit: cover;
    filter: blur(0em);
    transition: filter 0.5s;
}
.section-discover picture img:hover {
    opacity: .5;
}
.section-discover picture img[data-src] {
    filter: blur(0.2em);
}

/* -----------------------------------------------------------------join---------------------------------------------------------------- */
fieldset {
    
    border: 1px solid grey;
    width: 50%;
    box-shadow: 1px 4px rgba(0,0,0,0.1);
    margin: 20px auto;
    border-radius: 20px;
    background-color: #E6EFE9;
}
legend {
    font-size: 2rem;
    color: red;
    text-align: left;
    padding: 0 10px;
}
form label.top, form div {
    font-family: "Nanum Myeongjo", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    text-align: left;
    padding-top: 2rem;
    color: #9c2c13;
    font-size: 1.2rem;
}
form label.top input, form label.top textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: 0.75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
    text-align: left;
}
form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius:  1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required {
    border-left: red solid 6px;
}
form label.top input:required:valid {
    border-left: green solid 6px;
}

.thanks h1 {
    font-size: 10rem;
}
/* ------------------------------directory----------------------------- */
.directory-main {
    display: block;
}
.directory-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    text-align: center;
    background-color: #E6EFE9;
    height: 100%;
}
.company-pictures {
    box-shadow: 2px 4px 2px 4px rgba(0,0,0,0.6);
    object-fit: cover;
    width: 90%;
    
}
.card-sections {
    background-color: #b0caca
    ;
    padding: 0px 20px 50px 20px;
    border: 1px solid black;
    margin: 10px;
}
.card-sections h2 {
    color: #D64045;
}