@media only screen and (min-width: 37.5em) {
    header nav button {
        display: none;
    }
    header nav ul#primaryNav {
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding-left: 5px;
        width: 100%;
    }
    .hero-msg {
        margin-top: 200px;
    }
    .category-section  {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .category section:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }
    .category section:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
    }
    .category section:nth-child(3) {
        grid-column: 1;
        grid-row: 2;
    }
    .category section:nth-child(4) {
        grid-column: 2;
        grid-row: 2;
    }
    .category section {
        margin-bottom: 50px;
        display: grid;
        grid-template-rows: 1fr auto;
        background-color: #F2F2F2;
        box-shadow: none;
    }
    .category section picture {
        width: 100%;
        grid-row: 1;
        grid-column: 1;
    }
    .category section picture  img{
        width: 100%;
    }
    .row {
        flex-direction: row;
        flex-wrap: wrap;
    }
}