@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat&display=swap');

h1 {
    font-family:"Cinzel" ;
}
header{
    display: grid;
    width: 100%;
    grid-template-rows: 1fr auto;
    background-color: #000000;
    /* text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0; */
}
.logo {
    width: 175px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;

}
nav {
    display: flex;
    flex-direction: column;
    justify-self: left;
    width: 100%;
}
nav a{
    display: block;
    width: 100%;
    text-align: center;
    color:#B68E3E;
    text-decoration:none;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 120%;
    font-family:"Cinzel";
}
nav a:hover{
    width: 100%;
    background-color: #B68E3E;
    color:#000000;
    font-size: 120%;
}
header nav button {
    margin: 16px 2vw;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: white;
    grid-column: 1;
    text-align: left;
    padding: 20px 0px;
}
header nav button span:nth-child(1) {
    display: block;
}
header nav button span:nth-child(2) {
    display: none;
}
header nav button.open span:nth-child(1) {
    display: none;
}
header nav button.open span:nth-child(2) {
    display: block;
}
header nav ul {
    display: none;
    list-style: none;
}
header nav ul.open {
    display: block;
    list-style: none;
    padding-left: 0;
    width: 100%;
}
header nav ul.open li {
    display: block;
    list-style: none;
    width: 100%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
}
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
}
/* --------------------------Hero---------------------------- */
.hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.hero-picture {
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    z-index: -1;
}
.hero-img{
    width: 100%;
    height: 100%;
    opacity: 0.9;
    object-fit: cover;
    
}
.hero-msg {
    grid-column: 1;
    grid-row: 1;
    margin-top: 100px;
}
.hero-msg h1{
    display:block;
    width: fit-content;
    text-align: left;
    text-shadow: 0 0 3px #DAD6D2;
    font-size: 1.2rem;
    background-color: black;
    margin-left: 10px;
}
.hero-msg h4 {
    display:block;
    width: fit-content;
    background-color: black;
    text-align: left;
    color: #B68E3E;
    font-size:1em;
    margin-left: 10px;
}
/* ---------------------------Hero END------------------------- */
/* -----------------------MAIN ----------------------------- */
main{
    display: block;
}
.category {
    width: 70%;
    margin: 0 auto;
}
.category h1 {
    text-align: center;
    color: #B68E3E;
}
.category section {
    margin-bottom: 50px;
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: #F2F2F2;
    box-shadow: 1px 2px 1px 2px rgba(0,0,0,0.4);
}
.category section picture {
    width: 100%;
    grid-row: 1;
    grid-column: 1;
}
.category section picture  img{
    width: 100%;
}
.category section h2 {
    display: block;
    grid-row: 1;
    grid-column: 1;
    /* z-index: 1; */
    background-color: #B68E3E;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin-left: 10px;
    font-size: 0.9rem;
}
.category section h3 {
    text-align: center;
}
#lightbox{
    display: block;
    background-color: #DAD6D2;
}
#tittle-lightbox{
    margin: 0;
    padding: 50px 0px 50px 0px;
    font-size:2em;
    color: #B68E3E;
    text-align: center;
}
#lightbox_content{
    display: block;
    
}
.row {
    display: flex;
    flex-direction: column;
    padding: 0px 50px 50px 50px;
}
.column {
    width: 100%;
    height: 100px;
    margin: 10px auto;
    border: 1px solid black;
    box-shadow: 2px 4px 2px 4px rgba(0,0,0,0.5);
}
.column img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.column1 {
    width: 200px;
    height: 200px;
    margin: 10px auto;
    border: 1px solid black;
    box-shadow: 2px 4px 2px 4px rgba(0,0,0,0.5);
}
.column1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-grid{
    display:grid;
    grid-template-rows: 1fr auto;
    background-color: #B68E3E;
}
.customized-container {
    width: 100%;
    height: 230px;
}
.customized{
    width: 100%;
    height: 100%;
    grid-row: 2;
    grid-column: 1;
    box-shadow: 5px 5px 10px #6f7364;
    margin: 0px auto;
    margin-bottom: 50px;
    object-fit: cover;
}
#background{
    width: 80%;
    height: 90%;
    grid-column: 1;
    grid-row: 1/3;
    z-index: -1;
}
.msg{
    width: 90%;
    height: 90%;
    background-color: #DAD6D2;
    line-height: 3em;
    box-shadow: 2px 2px 5px #6f7364;
    grid-row: 1;
    grid-column: 1;
    margin: 0 auto;
    margin-top: 50px;
}
.msg h2{
    color:#B68E3E;
    font-family:"Cinzel";
    font-size: 3em;
    padding: 0px 10px;
    text-align: center;
}
.msg p{
    color:#B68E3E;
    font-size: 3em;
    padding-bottom: 15px;
    text-align: center;

}
.home-picture {
    height: 620px;
}
.home-picture picture{
    text-align: center;
}
.home-picture picture h1{
    /* margin-top: 20px; */
    padding-top: 100px;
    height: 80px;
}
.home-picture picture p {
    height: 200px;
    width: 80%;
    margin: 0 auto;
    line-height: 2rem;
}
.blog{
    background-color: #DAD6D2;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}
.section-blog {
    margin-top: 50px;
    margin-bottom: 50px;
}
#tittle-onblog{
    font-size:2em;
    color: #B68E3E;
    width: 90%;
    padding: 0px 5px;
    padding-top: 100px;
    text-align: center;
    line-height: 6rem;
}
#blog-content{
    background-color: #78613F;
    color: black;
    padding: 5px;
    width: 90%;
    margin: 0 auto;
    height: 620px;
}
#blog-content h4, #blog-content p{
    color: black;
    text-align: center;
}
#blog-content h4 {
    height: 80px;
    font-size: 2em;
}
#blog-content p {
    height: 200px;
    line-height: 2rem;
}
.enlace{
    text-decoration: none;
    color: white;
    text-align: right;
}
.blog-picture {
    display: block;
    width: 90%;
    margin: 0 auto;
    height: 230px;
}
#blog-content picture{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
}
#blog-content img{
    width: 100%;
    height: 100%;
    margin-bottom: 40px;


}
/* ---------------------MAIN END------------------------------------- */
footer .social img {
    padding-top: 15px;
}
footer{
    background-color: #000000;
    color:#B68E3E;
    padding: 25px 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
footer p {
    text-align: center;
}
footer a{
   color: #B68E3E;
   text-decoration:none;
}
footer a:hover{
    color:#EEDF99;
}

footer p {
    font-size: 1.2em;
}    

footer p a:hover {
    text-decoration: underline;
}  




.home-title{
    color:#B68E3E;
    font-family:"Cinzel";
    font-size: 3em;
    margin-top: 50px;
}


h4,h2{
    color:#B68E3E;
    font-family:"Cinzel";
    
}

p{
    font-family: "Montserrat";
}













/*lightbox inicio*/

#img1{
    grid-column: 1/2;
}

#img2{
    grid-column: 2/3;
}

#img3{
    grid-column: 3/4;
}

#img4{
    grid-column: 4/5;
}

#img5{
    grid-column: 5/6;
}

/* .row > .column {
    padding: 0 8px;
  } */
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  /* .column {
    float: left;
    width: 15%;
    
  } */
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: black;
    margin: auto;
    padding: 0;
    width: 90%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
    background-color: #000000;
    height: 57%;
  }
  .modal-picture {
    display: block;
    height: 100%;
    width: 50%;
    margin: 0 auto;
  }
  .modal-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #picture5 {
    object-position: 0px 60%;
  }
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
.example-modals {
    display: flex;
    background-color: rgb(209, 204, 204);
    border-radius: 5px;
    max-width: 700px;
    margin: 0 auto;
    gap:10px;
}

  /*lightbox fin*/

    .img-blog{
        width: 450px;
        height: 450px;
}


  #img-contact{
    width: 200px;
    height: 400px;
    text-align: right;
  }



  .content-blog{
    margin-top: 50px;
    background-color: #78613F;
    padding: 20px;
    padding-bottom: 100px;
}

.content-aboutus{
    background-color: #DAD6D2;
    padding: 20px;
    padding-bottom: 100px;
}

.content-aboutus h2, .content-aboutus h4{
    
    margin-left: 100px;
    font-family: "cinzel";
}

.content-aboutus h2{
    font-size:180%;
    margin-bottom: -10px; 
}

.content-aboutus h4{
    font-size:110%; 
    margin-bottom: 50px; 
}


#tittle-blog{
    grid-column: 1/3; 
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    font-family:"Cinzel";
}

.content-right{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.content-right p{
    grid-column: 1/2;
    margin: 100px;
    font-family:"Montserrat";
}

.content-right img{
    grid-column: 2/3;
    margin-right: 100px;
}

.content-left{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.content-left p{
    grid-column: 2/3;
    margin: 100px;
}

.content-left img{
    grid-column: 1/2;
    margin-left: 100px;
}

.img-blog{
    width: 400px;
    height: 450px;
    text-align: center;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

#contact-content{
    background-color: #78613F;
    color: #EEDF99;
    grid-row: 2/3;
    grid-column: 2/4;
    margin-top: -100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
}


.contact-content-text{
    margin-left: 150px;
    margin-top: 150px;
}

.contact-content-img{
    margin-top: 20px; 
}

/* ------------------------anillos -----------------------*/
.main-anillos {
    background-color: #DAD6D2;
}
.muestrario-anillos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 75%;
    margin: 0 auto;
    padding-top: 50px;
    /* background-color: #B68E3E; */
}
.muestrario-anillos section {
    width: 80%;
    margin-bottom: 50px;
    background-color: #f0ece8;
    text-align: center;
    padding: 10px;
}
.muestrario-anillos section h1 {
    color: #B68E3E;
}
.muestrario-anillos section picture img {
    width: 90%;
    box-shadow: 1px 4px 1px 4px rgb(108, 105, 105);
    border-radius: 10%;
}
/* ----------------------------------------------------modal-------------------------------------------------- */
.whatsapp {
    position: fixed;
    bottom: 0;
    right: 0;
}
.google-maps {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin: 20px 0px;
    grid-column: 1/3;
}
.google-maps iframe {
    width: 100%;
    max-width: 400px;
}